:root {
    --ds-radius-none: 0;
    --ds-radius-xs: 0.125rem;
    /* 2px */
    --ds-radius-sm: 0.25rem;
    /* 4px */
    --ds-radius-md: 0.5rem;
    /* 8px */
    --ds-radius-lg: 1rem;
    /* 16px */
    --ds-radius-xl: 1.5rem;
    /* 24px */
    --ds-radius-2xl: 2rem;
    /* 32px */
    --ds-radius-full: 9999px;
}