:root {
    /* --- Primitives --- */
    --ds-clr-white: #ffffff;
    --ds-clr-black: #000000;

    --ds-clr-slate-50: #f8fafc;
    --ds-clr-slate-100: #f1f5f9;
    --ds-clr-slate-200: #e2e8f0;
    --ds-clr-slate-300: #b8c1ce;
    --ds-clr-slate-400: #717f93;
    --ds-clr-slate-500: #475569;
    --ds-clr-slate-600: #222b3b;
    --ds-clr-slate-800: #131b2a;
    --ds-clr-slate-900: #0a0f19;
    --ds-clr-slate-950: #03040a;

    --ds-clr-indigo-600: #3e3cc7;
    --ds-clr-indigo-500: #5250e9;
    --ds-clr-indigo-400: #5e5cd1;
    --ds-clr-indigo-300: #7371d6;
    --ds-clr-cyan-500: #65bbe2;

    /* --- Semantic: Light Mode --- */
    --ds-bg-main: var(--ds-clr-white);
    --ds-bg-surface: var(--ds-clr-slate-50);
    --ds-bg-glass: rgba(255, 255, 255, 0.7);
    --ds-bg-inverse: var(--ds-clr-slate-950);

    --ds-txt-main: var(--ds-clr-slate-900);
    --ds-txt-muted: var(--ds-clr-slate-500);
    --ds-txt-primary: var(--ds-clr-indigo-500);
    --ds-txt-inverse: var(--ds-clr-white);
    --ds-txt-primary-inverse: var(--ds-clr-indigo-300);

    --ds-border-subtle: var(--ds-clr-slate-200);
    --ds-border-strong: var(--ds-clr-slate-400);

    --ds-primary: var(--ds-clr-indigo-500);
    --ds-secondary: var(--ds-clr-indigo-400);
    --ds-accent: var(--ds-clr-cyan-500);
}

.dark {
    /* --- Semantic: Dark Mode --- */
    --ds-bg-main: var(--ds-clr-slate-950);
    --ds-bg-surface: var(--ds-clr-slate-900);
    --ds-bg-glass: rgba(2, 6, 23, 0.7);
    --ds-bg-inverse: var(--ds-clr-white);

    --ds-txt-main: var(--ds-clr-slate-200);
    --ds-txt-muted: var(--ds-clr-slate-400);
    --ds-txt-primary: var(--ds-clr-indigo-300);
    --ds-txt-inverse: var(--ds-clr-black);
    --ds-txt-primary-inverse: var(--ds-clr-indigo-500);

    --ds-border-subtle: rgba(255, 255, 255, 0.098);
    --ds-border-strong: rgba(255, 255, 255, 0.271);

    --ds-primary: var(--ds-clr-indigo-300);
    --ds-secondary: var(--ds-clr-indigo-400);
    --ds-accent: var(--ds-clr-cyan-500);
}